# {{ ansible_managed }}
#
[Unit]
Description=PPP over Serial link
After=network.target

[Service]
ExecStart=/usr/sbin/pppd call %i nodetach nolog
Restart=on-failure

[Install]
WantedBy=multi-user.target
